@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

@section menu{
    <div class="nav-wrap">
        <ul class="nav">
            <li class="nav__item"><a href="/About/Index">About</a></li>
            <li class="nav__item"><a class="active" href="/Resume/Index">Resume</a></li>
            <li class="nav__item"><a href="/Portfolio/Index">Portfolio</a></li>
            <li class="nav__item"><a href="/Blog/Index">Blog</a></li>
            <li class="nav__item"><a href="/Contact/Index">Contact</a></li>
        </ul>
    </div>
}

<!-- Content -->
<div class="content" data-simplebar>
    <div class="section mt-0">
        <h1 class="title title--h1 title__separate">Resume</h1>
    </div>

    <!-- Experience -->
    <div class="section">
        <h2 class="title title--h2"><img class="title-icon" src="/siteSample/assets/icons/icon-education.svg" alt="" /> Education</h2>
        <div class="timeline">
            <!-- Item -->
            <article class="timeline__item">
                <h5 class="title title--h3 timeline__title">University School of the Arts</h5>
                <span class="timeline__period">2007 — 2009</span>
                <p class="timeline__description">Nemo enims ipsam voluptatem, blanditiis praesentium voluptum delenit atque corrupti, quos dolores et quas molestias exceptur.</p>
            </article>

            <!-- Item -->
            <article class="timeline__item">
                <h5 class="title title--h3 timeline__title">New York Academy of Art</h5>
                <span class="timeline__period">2005 — 2007</span>
                <p class="timeline__description">Ratione voluptatem sequi nesciunt, facere quisquams facere menda ossimus, omnis voluptas assumenda est omnis..</p>
            </article>

            <!-- Item -->
            <article class="timeline__item">
                <h5 class="title title--h3 timeline__title">High School of Art and Design</h5>
                <span class="timeline__period">2003 — 2005</span>
                <p class="timeline__description">Duis aute irure dolor in reprehenderit in voluptate, quila voluptas  mag odit aut fugit, sed consequuntur magni dolores eos.</p>
            </article>
        </div>
    </div>

    <div class="section">
        <h2 class="title title--h2"><img class="title-icon" src="/siteSample/assets/icons/icon-experience.svg" alt="" /> Experience</h2>
        <div class="timeline">
            <!-- Item -->
            <article class="timeline__item">
                <h5 class="title title--h3 timeline__title">Creative Director</h5>
                <span class="timeline__period">2015 — Present</span>
                <p class="timeline__description">Nemo enim ipsam voluptatem blanditiis praesentium voluptum delenit atque corrupti, quos dolores et qvuas molestias exceptur.</p>
            </article>

            <!-- Item -->
            <article class="timeline__item">
                <h5 class="title title--h3 timeline__title">Art Director</h5>
                <span class="timeline__period">2013 — 2015</span>
                <p class="timeline__description">Nemo enims ipsam voluptatem, blanditiis praesentium voluptum delenit atque corrupti, quos dolores et quas molestias exceptur.</p>
            </article>

            <!-- Item -->
            <article class="timeline__item">
                <h5 class="title title--h3 timeline__title">Web Designer</h5>
                <span class="timeline__period">2010 — 2013</span>
                <p class="timeline__description">Nemo enims ipsam voluptatem, blanditiis praesentium voluptum delenit atque corrupti, quos dolores et quas molestias exceptur.</p>
            </article>
        </div>
    </div>

    <!-- Skills -->
    <div class="section">
        <h2 class="title title--h2">My Skills</h2>
        <div class="box-gray">
            <!-- Progress -->
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-text"><span>Web Design</span><span>80%</span></div>
                </div>
                <div class="progress-text"><span>Web Design</span></div>
            </div>

            <!-- Progress -->
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-text"><span>Graphic Design</span><span>75%</span></div>
                </div>
                <div class="progress-text"><span>Graphic Design</span></div>
            </div>

            <!-- Progress -->
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-text"><span>Photoshop</span><span>90%</span></div>
                </div>
                <div class="progress-text"><span>Photoshop</span></div>
            </div>

            <!-- Progress -->
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-text"><span>Illustrator</span><span>50%</span></div>
                </div>
                <div class="progress-text"><span>Illustrator</span></div>
            </div>
        </div>
    </div>
</div><!-- Content End -->