@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/front2-hw/F2.css"/>
</head>
    <body>
        <div class="mainPage" style="width: 100%; height: 950px; display: flex; justify-content: center; align-items: center">
            <div class="container">
                <div class="image">
                    <img class="img" src="/css/front2-hw/1688483382665-oneplpherobannermobile1500x1600pxjpg_1600x1500.jpg"/>
                </div>
                <div class="details">
                    <div>
                        <p class="subTitle2">
                            P E R F U M E
                        </p>
                        <p class="title">
                           Gabrielle Essence Eau De Parfum
                        </p>
                    </div>
                    <div>
                        <p class="subTitle">
                            A floral, solar and voluptous interpretation composed by Olivier Polge, Perfumer-Creator for the House of CHANEL.
                        </p>
                    </div>
                    <div class="numbers">
                        <div class="numberContainer">
                            <div class="numbersTitle">
                                $149.99
                            </div>
                        </div>
                        <div class="numberContainer">
                            <div class="numberSubtitle">
                                <s>$169.99</s>
                            </div>
                        </div>
                    </div>
                    <button class="btn" type="button">Add to Cart</button>
                </div>
            </div>
        </div>
    </body>
</html>
